Source: ros-noetic-soss-genmsg
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libyaml-cpp-dev, ros-foxy-soss-core, ros-noetic-catkin, ros-noetic-genmsg
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-soss-genmsg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-soss-core, ros-noetic-genmsg
Description: The SOSS genmsg package
